<head>
  <style>
body{
  text-align: center;
  background: url(https://pxt.azureedge.net/blob/68f66c3ddc3acfc4c53157abf92eace202d46db2/static/courses/csintro/conditionals/rock-paper-scissors-items.png); background-size: 95% 550%;
  font-family: "Comic Sans MS";
}
  </style>
</head>


<h1>Rock, Paper, Scissors!</h1>
  <h2>Please enter your name to play.</h2>

  <form action="/name" method="post">
    <label for="player_1_name">
      Player Name: 
      <input type="text" name="player_1_name"> 
    </label>
      <input type="submit" value="Submit">
  </form>

